*{
    margin: 0;
    padding: 0;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    font-size: 3rem;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.enviar{
    margin-top: 2rem;
}

div.check{
    margin-top: 0.5rem;
}

button{
    margin-left: 1.25rem;
}

p{
    margin-left: 1rem;
}

